@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:wght@500;700&family=Nunito:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Nunito:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body .container{
    min-height: 100vh;
    width: 100%;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

@media (max-width: 545px){
    .card{
        max-width: 21rem;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: "picture" "content";
        margin-top: 2rem;
    }
    .card picture{
        grid-area: picture;
    }
    .card .content{
        grid-area: content;
        padding: 1rem 1rem 2rem 1.3rem;
    }
    .card picture img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card .content p {
        margin-bottom: 1rem;
    }
    .card .content .price {
        font-size: 30px;
        margin-bottom: 1.5rem;
    }
    .card .content .btn {
        padding: 0.8rem 6.3rem;
    }
}

@media (min-width: 546px){
    .card{
        width: 34rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }
    .card picture img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card .content{
        padding: 1.5rem 1.3rem 0 0;
    }
    .card .content p{
        margin-bottom: 2rem;
    }
    .card .content .price{
        font-size: 28px;
        margin-bottom: 2rem;
    }
    .card .content .btn {
        padding: 0.8rem 4.6rem;
    }
}


.card .content i{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.card .content .card-title{
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
    padding: 1rem 0 1.3rem 0;
    line-height: .9;
}

.card .content p{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.card .content .price{
    font-family: "Fraunces", sans-serif;
    color: var(--Dark-cyan);
}
.card .content .price > span{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    position: relative;
    left: 10px;
    bottom: 7px;
}

.card .content .btn{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: var(--Dark-cyan);
    color: hsl(0, 0%, 100%);
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}
.card .content .btn > img {
    width: 0.9rem;
    position: relative;
    top: 3px;
    right: 4px;
}

.card .content .btn:active{
    background-color: hsl(158deg 48% 20%);
}


.attribution { font-size: 13px; text-align: center; margin: 2rem 0 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }




